* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(201, 201, 201);
}

.heroes_cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.single_hero_cont {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
}
